body {
    width: 1920px;
    height: 2301px;
}
.header-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 53px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background: white; */
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    width: 601px;
}
.nav-li {
    font-size: 18px;
    color: #37393F;
    font-weight: 400;
    line-height: 21.78px;
    font-family: 'Inter' sans-serif;
}
.logo {
    margin-right: 195px;
}
.button {
    margin-left: 40px;
}
.content {
    width: 1220px;
    height: 510px;
    margin: 0 auto;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 254px;
    margin-bottom: 60px;
}
.content-top {  
    padding-left:  468.5px; 
    padding-right: 468.5px;
 }
.paragraph {
    color: #37393F;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 21.78px;
    font-family: 'Inter' sans-serif;
}
.main-thought {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins-bold'sans-serif;
}
.box {
    margin-top: 41px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.grey {
    width:386px;
    height:383px;
    padding: 58px 43px 58px 43px;
    background-color: #F4F4F4;
    
}
.title {
    font-size: 25px;
    font-weight: 600;
    line-height: 31.75px;
    text-align: center;
    font-family: 'Poppins-semibold' sans-serif;
}
.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26.31px;   
    text-align: center;
    padding-top: 16px;
    color: #7D7D7D;
    font-family: 'Inter' sans-serif;
}
.text-purple {
    font-size: 18px;
    color: #6B77E5;
    text-align: center;
    font-weight: 600;
    padding-top: 37px;
    font-family: 'Inter' sans-serif;
}
.icon {
   padding :10px 157px 58px 114px;
}
.centre {
    margin-bottom: 130px;
}

.image1 {
    position: relative;
}

.under-image-box {
    position: absolute;
    width:511px;
    height:270.5px;
    top: 967px;
    left: 703px;
    text-align: center;
}
.collab {
    font-size: 18px;
    color: #37393F;
    font-weight: 400;
    padding-bottom: 47px;
    font-family: 'Inter' sans-serif;
}
.main-thought-2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 21px;
    font-family: 'Poppins-bold'sans-serif;
}
.last {
    width: 1220px;
    height: 659px;
    top: 1511px;
    left: 348px;  
    margin: 0 auto;
}
.content-title {
    margin-bottom: 41px;
}
.bottom-box {
    position: relative;
}
.white-box {
    background-color: #FFFFFF;
    position: absolute;
    width:341px;
    height:114px;
    top: 396px;
    left: 22px;
    padding: 24px 69px 24px 69px;  
    position:absolute; 
}
.person {
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: center;
    font-family: 'Poppins-semibold' sans-serif;
}
.prof {
    font-size: 18px;
    font-weight: 400;
    color: #7D7D7D;
    text-align: center;
    font-family: 'Inter' sans-serif;
}
.content-box {
  display: flex;
  justify-content: space-evenly;
}